EXPO_PUBLIC_API_URL=http://10.0.2.2:5151/api
EXPO_PUBLIC_GOOGLE_CLIENT_ID=your-web-client-id.apps.googleusercontent.com
EXPO_PUBLIC_ANDROID_GOOGLE_CLIENT_ID=your-android-client-id.apps.googleusercontent.com
