<ng-container
  *ngIf="{
    selectedComponent: store.selectedComponent$ | async,
    selectedAccount: store.selectedAccount$ | async
  } as data">
  <div class="flex h-screen">
    <div style="flex: 0 0 auto" class="h-screen transition-transform overflow-y-auto">
      <app-sidebar></app-sidebar>
    </div>
    <div class="flex-auto h-screen overflow-y-auto">
      <app-budget *ngIf="data.selectedComponent === selectedComponent.BUDGET"></app-budget>
      @defer (when data.selectedComponent === selectedComponent.ACCOUNTS) {
        <app-transactions
          *ngIf="data.selectedComponent === selectedComponent.ACCOUNTS"
          [account]="data.selectedAccount">
        </app-transactions>
      }
    </div>
  </div>
</ng-container>
